Source: ros-lyrical-rplidar-driver
Section: misc
Priority: optional
Maintainer: "frozenreboot" <frozenreboot@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-cppcheck <!nocheck>, ros-lyrical-ament-cmake-gtest <!nocheck>, ros-lyrical-ament-cmake-lint-cmake <!nocheck>, ros-lyrical-ament-cmake-xmllint <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-diagnostic-updater, ros-lyrical-geometry-msgs, ros-lyrical-lifecycle-msgs, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rclcpp-lifecycle, ros-lyrical-sensor-msgs, ros-lyrical-tf2, ros-lyrical-tf2-geometry-msgs <!nocheck>, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/rplidar_driver/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-rplidar-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-diagnostic-updater, ros-lyrical-geometry-msgs, ros-lyrical-launch-ros, ros-lyrical-lifecycle-msgs, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rclcpp-lifecycle, ros-lyrical-sensor-msgs, ros-lyrical-tf2, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace
Description: A modern, lifecycle-managed ROS2 driver for Slamtec RPLidar.
 Features multithreaded scanning, non-blocking I/O, and C++17 architecture.
